{% extends "/layouts/layout.twig" %}

{% block body %}
<main>
    {% include '/pages/intro.twig' %}
    {% include '/pages/review.twig' %}
    {% include '/pages/form.twig' %}
</main>

{% endblock %} 