@use 'variables' as *;

nav {
	position: relative;
	display: flex;
	justify-content: flex-end;

	.nav-content {
		max-height: 0;
		display: flex;
		flex-direction: column;
		position: absolute;
		overflow: hidden;
		margin-top: 60px;
	}

	.nav-content-open {
		max-height: 300px;
	}
}
