<section class="intro">
	<div>
		<ul>
			<li>{% trans %}Tvorba a renovace webů{% endtrans %}</li>
			<li>{% trans %}Webové poradenství{% endtrans %}</li>
			<li>{% trans %}Možná spolupráce na vašem projektu{% endtrans %}</li>
		</ul>
	</div>
</section>
